.NAME {
    position: absolute;
    left: 43%;
    font-size: 35px;
    font-style: italic;
    text-align: center;
}

.STRAND {
    position: absolute;
    left: 27%;
    top: 1%;
    font-size: 25px;
    font-style: italic;
    text-align: center;
}
.line1 {
    position: absolute;
    height: 100%;
    left: 50%;
    text-align: center;
}

.line2 {
    margin-top: 40px;
    text-align: center;
}
